<div class="main-content">
    <form method="POST">
        <h3>Edit your information here :)</h3>
        {{#with input}}
        <input type="text" placeholder="First Name" name="first" value="{{first}}"><br>First Name<br><br>
        <input type="text" placeholder="Last Name" name="last" value="{{last}}"><br>Last Name<br><br>
        <input type="email" placeholder="Email address" name="email" value="{{email}}"><br>Email address<br><br>
        <input type="number" placeholder="Age" name="age" value="{{age}}"><br>Age<br><br>
        <input type="text" placeholder="City" name="city" value="{{city}}"><br>City<br><br>
        <input type="url" placeholder="Home Page" name="web" value="{{url}}"><br>Home Page<br><br>
        {{!-- <input type="password" placeholder="Password" name="pwd" value="{{input.first}}"><br><br> --}}
        {{/with}}
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button id="continue-button" class="buttons">Continue</button>
    </form>
    {{#if updated}}
    <p class="success-msg">Your profile has been updated!!!</p>
    {{/if}}
</div>
