<div class="main-content">
    <h2>Edit your information here :)</h2>
    <form method="POST">
        {{#with input}}
        <div class="input-box">
            <input
                type="text"
                name="first"
                onkeyup="this.setAttribute('value', this.value);"
                value="{{ first }}"
            />
            <label>First Name</label>
        </div>
        <div class="input-box">
            <input
                type="text"
                name="last"
                onkeyup="this.setAttribute('value', this.value);"
                value="{{ last }}"
            />
            <label>Last Name</label>
        </div>
        <div class="input-box">
            <input
                type="email"
                name="email"
                onkeyup="this.setAttribute('value', this.value);"
                value="{{ email }}"
            />
            <label>Email address</label>
        </div>
        <div class="input-box">
            <input
                type="number"
                name="age"
                onkeyup="this.setAttribute('value', this.value);"
                value="{{ age }}"
            />
            <label>Age</label>
        </div>
        <div class="input-box">
            <input
                type="text"
                name="city"
                onkeyup="this.setAttribute('value', this.value);"
                    value="{{ city }}"
            />
            <label>City</label>
        </div>
        <div class="input-box">
            <input
                type="url"
                name="web"
                onkeyup="this.setAttribute('value', this.value);"
                value="{{ url }}"
            />
            <label>Home Page</label>
        </div>
        <div class="input-box">
            <input
                type="password"
                name="pwd"
                onkeyup="this.setAttribute('value', this.value);"
                value="{{ pwd }}"
            />
            <label>Password</label>
        </div>

        {{/with}}
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <button id="continue-button" class="buttons">Continue</button>
    </form>
    {{#if updated}}
    <p class="success-msg">Your profile has been updated!!!</p>
    {{/if}}
</div>
