<div class="main-content">
<h2>The list of participants are...</h2>
<ol id="signer-names">
{{#signers}}
<li>{{first}} {{last}}, {{age}}, <a href="/signers/{{city}}">{{city}}</a>, <a href="{{url}}">{{url}}</a></li>
{{/signers}}
</ol>
</div>